body {
    background-color: #2d2d2d;
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden; 
}

#head {
    display: inline-flex;
    width: 86%;
    margin: -5px -5px;
}

#aboutMe {
    color: white;
    font-size: 15px;
    width: 180px;
    margin: 0 0 0 15%;
    padding: 5px 10px 5px 20px;
    white-space: pre;
}

#others {
    border: 1px solid #212121;
    white-space: pre;
    width: 100%;
    background-color: #212121;
    margin: -5px 0;
}

h3 {
    font-size: 18px;
    width: 63%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(252, 230, 122);
    margin-bottom: 0;
    margin-top: 25px;
}

h4 {
    font-size: 17px;
    width:63%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(125, 190, 243);
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}


p {
    font-size: 15px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(234, 147, 130);
    margin-top: 0;
    margin-bottom: 0;
}

.var {
    color: rgb(69, 119, 225);
}

.variable {
    color: rgb(125, 190, 243);
}

img {
    position: absolute;
    width: 300px;
    left: 10px;
    top: 685px;
    padding: 10px;
    z-index: 0; 
}

#left {
    background-color: rgb(60, 60, 60);
    position: absolute;
    width: 13%;
    height: 600px;
    top: 0px;
    left: 0;
    z-index: 1;
}

#right {
    background-color: rgb(60, 60, 60);
    position: absolute;
    width: 15%;
    height: 600px;
    top: 0px;
    right: 0;
}

#lines {
    position: absolute;
    top: 35px;
    left: 14%;
    font-size: 15px;
    color: rgb(113, 113, 113);
    white-space: pre;
    width: 20px;
}

#projects {
    display: block;
    margin: 0 0 0 20%;
    width: 260px;
}

h5 {
    color: rgb(69, 119, 225);
    font-size: 15px;
    width: 85px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.button {
    width: 260px;
    margin: 3px;
    background-color: rgb(125, 190, 243);
    border: 18px solid rgb(125, 190, 243);
    border-radius: 25px;
}

#myLinks {
    display: block;
    position: absolute;
    top: 10px;
    right: 1%;
    width: 13%;
    z-index: 1;
}

#links {
    color: rgb(125, 190, 243);
    font-size: 15px;
}

#linkedin {
    width: 75%;
    position: absolute;
    top: 80px;;
}

#github {
    width: 75%;
    position: absolute;
    top: 120px;
}

#download {
    width: 100%;
    height: 15px;
    position: absolute;
    top: 220px;
    left: 5%;
    color: #96c4e1;
}

#cv {
    width: 100%;
    height: 25px;
    position: absolute;
    top: 270px;
    border-radius: 8px;
    border: 1px solid rgb(24, 24, 24);
    background-color: #96c4e1;
}