body {
    background-color: #2d2d2d;
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden; 
}

h1 {
    font-size: 25px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(220, 241, 129);
}

h3 {
    font-size: 22px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(220, 241, 129);
    margin-bottom: 0;
}

h4 {
    font-size: 19px;
    width:65%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(125, 190, 243);
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}


p {
    font-size: 17px;
    width: 62%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(234, 147, 130);
    margin-top: 0;
    margin-bottom: 0;
}

.var {
    color: rgb(69, 119, 225);
}

.variable {
    color: rgb(125, 190, 243);
}

img {
    position: absolute;
    width: 300px;
    left: 10px;
    top: 285px;
    padding: 10px;
    z-index: 0; 
}

#left {
    background-color: rgb(48, 48, 48);
    position: absolute;
    width: 170px;
    height: 600px;
    top: 0px;
    left: 0;
    z-index: 1;
}

#right {
    background-color: rgb(48, 48, 48);
    position: absolute;
    width: 180px;
    height: 600px;
    top: 0px;
    right: 0;
    z-index: 1;
}